@import "../../assets//styles//mixins/breakpoints";

.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0;
  position: relative;
  background: transparent;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;

  @include md {
    width: 48px;
    height: 48px;
  }

  &__left,
  &__right {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px; 
      height: 20px; 
      margin: 0;
      background: #fff;
      border-radius: 100% 0;

      @include md {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__right {
    transform: scaleX(-1) scaleY(1);
  }

  &__left,
  &__right {
    &::after {
      top: 20.5px;
      transform: scaleX(1) scaleY(-1);
      @include md {
        top: 24.5px;
      }
    }
  }

}